# History files
.History

# Example code in package build process
.R*
*.*~
.Rproj.user

# Local package copy for autotest
.local/*

# Tmp directory
tmp/*

# Ignore plots created by testing functionality
tests/testthat/*.pdf

# Ignore cvs tests and key mapping helper files
*.csv
inst/extdata/*.xlsx